
sso-sample-ios.xcodeproj/xcuserdata/Darnell.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

sso-sample-ios.xcodeproj/project.xcworkspace/xcuserdata/Darnell.xcuserdatad/UserInterfaceState.xcuserstate
